/*-------------------------------------------
Template Layouts & Styling
Name: Resume
Version: 1.0.0;
Author: Sharojit
Copyright: Free & Commercial
Author URI: http://www.sharojit.com/
Website: http://www.themesplugin.com/
Description: Resume Html5 responsive template
License: MIT
----------------------------------------------*/

/*----------------------------------
----[ ADD YOUR CUSTOM CSS HERE ]----
----------------------------------*/

